*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see 
http://www.java.com/en/download/help/error_ho$
hs_err_pid*
bancotads/target/classes/META-INF/maven/br.univel/bancotads/pom.properties
MANIFEST.MF

